@media screen and (max-width: 480px) {
  .customabs {
    position: static;
    left: 0;
    bottom: 0;
}
.bgImg{
    margin-bottom:50px;
    display: none;
}
.card{
    border: 0px solid rgba(255, 254, 254, 0.125);
    margin: 10px auto;
}

.img17{
    position: relative;
    left: -50px;
    top: 50px;
    display:none;
}
.img16{
    position: absolute;
    top: -250px;
    left: 50px;
    display:none;
}

}


.row-header{
    margin:0px auto;
    padding:0px auto;
}

.footer{
    background-color: #212326;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}
.jumbotron {
    background-color: white;
}

.address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.bgrow{
    background-color: #c5e0ec;
    padding: 30px;
    border: 5px solid #5a98ca;
    border-radius: 20px
}

.navbar-dark {
    background-color: #212326;
}

.modalheader{
    background-color: #212326;
    color: floralwhite;
       
}
.card{
    border: 0px solid rgba(255, 254, 254, 0.125);
}
.close{
    color: white;
}
.cardfooter{
    background-color: #212326;
    color: white;
}

.textcss{
    font-size: large;
    color: #808080;
    font-family: cursive;
}

.headcss{
        font-size: xxx-large;
        font-family: fantasy;
        color: #212326;
}

.customshadow{
    box-shadow: 2px 1px 10px 5px #dbd0d0;
    margin-top: 60px;
    margin-bottom: 60px;
}   

.blockquotecls{
background-color: #e0f5ff;
padding: 75px;
margin-bottom: 80px;
box-shadow: -4px 4px 7px 0px #a2bdc0
}

.quote{
    font-size: x-large;
    font-family: monospace;
    color: #004e46;
}

.textcss1{
    font-family: serif;
    color: #0d3f58;
    border-left: 2px solid #b3a0a0;
}

.customrel{
    position: relative;
}

.customabs{
    position: absolute;
    left: 29%;
    bottom: 15%;
}



.row-content{
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    min-height:400px;
}

.headcss1{
    font-size: xx-large;
    font-family: fantasy;
    color: #212326;
}

.customshadow2{
        margin: 10px auto;
        box-shadow: 2px 1px 10px 5px #dbd0d0;
}

.list-marked{
    list-style-type: none;
    font-size: large;
    color: #959595;
    font-family: cursive;
    margin: 10px auto;
    padding:5px auto;
}

.bgImg{
    margin-bottom:50px;
}

.blockquotecls2{
    background-color: #0163c8;
    border: 2px solid #3f97c1;
    border-radius: 20px;
    box-shadow: -3px 8px 16px 2px #85a362;
}

.textcss2{
    font-size: x-large;
    font-family: cursive;
    color: #0575aa;
}

.quote2{
    font-size: xx-large;
    font-family: monospace;
    color: #89ff00;
}
.text-muted{
    color: #808080;
    font-family: cursive;
}

.btn-dark{
    color: #fff;
    background-color: #212326;
    border-color: #212326;
}

.row-content1{
    padding: 10px;
}

.img17{
    position: relative;
    left: -50px;
    top: 50px;
}
.img16{
    position: absolute;
    top: -250px;
    left: 50px;
}

.textcss3{
    font-size: large;
    font-family: cursive;
    color: black;
}

.headcss2{
    font-size: xx-large;
    font-family: fantasy;
    color:white;
}

.cardHeader{
    background-color: rgb(255, 255, 255);
    border-bottom: 0px solid rgba(0,0,0,.125);
}

.coloricon{
    color: #9E9E9E;
}

.breadcrumb{
    margin: auto;
    background-color: #f1f8ff;
}

.dropdown-menu{
    background-color: #9E9E9E;
}

.dropdown-item:hover {
    color: #ffffff;
    background-color: #212326;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a{
    color: #212326;
}
.cardimage:hover {
    box-shadow: 0px 1px 10px 0px black;
    cursor: pointer;
}

.overlay:hover{
}


.row-content3{
        margin-right: 40%;
        margin-top: 10%;
        margin-bottom: 10%;
}    

.button1{
    color: #292f35;
    background-color: #c4eeec;
    border-color: #c4eeec;
}

.button1:hover{ 
    color: #c4eeec;
    background-color: #1e2227;
    border-color: #1e2227;
}
.textcss3{
    font-size: x-large;
    font-family: cursive;
    color: #ffffff;
}

.overlay2:hover{
    mix-blend-mode: overlay;
    cursor: pointer;
}
    
.button2{
    color: #c4eeec;
    background-color: #1e2227;
    border-color: #1e2227;
}    

.button2:hover{
    color: #ffffff;
    background-color: #424d56;
    border-color: #424d56;
}   

.inputbox{
    border: 1px solid #e5e5e5;
    padding: 13px 19px;
    background-color: #ffffff;
}

.img17:hover{
    transform: translate3d(-20%, -23%, 0);
    transition: all ease-in-out .5s;
}

.img16:hover{
    transform: translate3d(20%, 10%, 0);
    transition: all ease-in-out .5s;
}

.breadcrumb{
    margin-top: 25px;
}

.price-group__sale {
    color: #ee1616;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 1000;
}

.price-group__price-old {
    text-decoration: line-through;
    color: #292f35;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 1000;
}

.textcss4{
    width: 100%;
    font-size: 14px;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family:  sans-serif;
    color: #737576;
}

.icon-list{
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.625;
    font-weight: 400;
    color: #737576;
}

.icon-list2{
    font-family: sans-serif;
    font-size: medium;
    line-height: 1.625;
    font-weight: 700;
    color: #737576;
}

.textcss5{
    width: 100%;
    font-size: medium;
    line-height: 1.8;
    margin-top: 20px;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family:  cursive;
    color: #737576;
}
.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}

.nav-tabs .nav-link {
    padding: 17px 20px;
    line-height: 1;
    letter-spacing: normal;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #292f35;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 1px;
}

.nav-tabs .nav-item {
    margin: 5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    border-color: #c4eeec;
    background-color: #c4eeec;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover{
    border-color: #c4eeec;
    background-color: #c4eeec;
    cursor:pointer;
}

.button2{
    color: #292f35;
    background-color: #c4eeec;
    border-color: #c4eeec;
}

.button2:hover{ 
    color: #ffffff;
    background-color: #ff2313;
    border-color: #ff2313;

}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #ffffff;
    background-color: #ff2313;
    border-color: #ff2313;
}

.btn-secondary.focus, .btn-secondary:focus {
    color: #ffffff;
    background-color: #ff2313;
    border-color: #ff2313;
}

.modal-content2 {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: transparent;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.btn-dark:hover {
    color: #fff;
    background-color: #23272b;
    border-color: #ffffff;
    border-radius: 20px;
}

.btn-dark.focus, .btn-dark:focus {
   color: #fff;
    background-color: #23272b;
    border-color: #ffffff;
    border-radius: 20px;
}

.navbar-dark .navbar-brand {
    color: #fff;
    display: contents;
}

.scroll {
  opacity: 0.8;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 20px;
  color: #292f35;
  background-color: #c4eeec;
  border-color: #c4eeec;
}

.scroll:hover {
    opacity: 1;
    color: #c4eeec;
    background-color: #e22517;
    border-color: #e22517;
    border-radius: 20px;
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

.modal-content2{
    background-color: transparent;
}